.App {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.753); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.coinlist {
  width: 45%;
  height: 83.5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* text-align: left; */
  scroll-behavior: smooth;
}
.coindetails {
  width: 55%;
  /* background-color: rgba(0, 0, 0, 0.753); */
  /* color: #ffffff; */
}
.coindetails h3 {
  margin-top: 10px;
  /* text-align: center; */
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.coinlist table {
  margin: 20px 15px;
}

.coin-logo {
  width: 30px;
}
td {
  padding: 10px 0;
  /* align-items: center; */
}
.facts {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  padding: 50px 20px;
  font-weight: 600;
}
.facts-sub-div {
  width: 100%;
  display: flex;
  margin: 7.5px 0;
  justify-content: space-evenly;
}
